// These were the colors that Jogo designed for the Bootstragram brand in April 2015.
$jogo-gray-dark: #4c4d4f;
$jogo-gray-light: #b2b2b2;
$jogo-white: #ffffff;
$jogo-accent-color-1: #db6149;
$jogo-accent-color-2: #ecb39f;
$jogo-accent-color-3: #db4045;
