// Light mode

$background-color: #fff;
$text-color: #333;
$accent-color: #16d;
$accent-inverted: #fff;
$accent-inverted-active: #ccc;
$text-color-subdued: #666;

// Dark mode

$background-color-dark: #333;
$text-color-dark: #fff;
$accent-color-dark: #5af;
$accent-inverted-dark: #333;
$accent-inverted-active-dark: #666;
$text-color-subdued-dark: #aaa;
