// The color scheme and typo stuff, as defined by Jogo.
$dirtyhenry-background-color: #ffffff;
$dirtyhenry-font-family: sans-serif;

// Debug stuff
$dirtyhenry-debug-background-color: orange;

body {
  background-color: $dirtyhenry-background-color;
  color: $dirtyhenry-color;
  font-family: $dirtyhenry-font-family;
}
